@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
 width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #0d0d0d;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #2fb8f5;
 border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #0588ca;
}

::selection {
  background-color: #0278b3;
  color: rgb(255, 255, 255);
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}